# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Logs
*.log

# Flask instance
instance/

# System files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Results & models
results/
*.h5
*.pkl
*.joblib

